{% extends "Clinic/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3" >Atencion Medica. <i class="fas fa-hospital"></i> </h1>
        <h5 class="lead">Registro de Pacientes y sus respectivos signos vitales (RAC)</h5>
        {% if not user.is_authenticated %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
            <a class="btn btn-lg btn-primary" href="{% url 'users:login' %}" role="button">Iniciar Sesion &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:logout' %}" role="button">Cerrar Sesion &raquo;</a>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <section>
        <h2>Funciones:</h2>
        <ul>
            <li>Registro de Pacientes.</li>
            <li>Almacenamiento de datos de Pacientes y signos vitales.</li>
            <li>Visualizacion de datos de Pacientes y signos vitales.</li>
            <li>Edicion de datos de Pacientes y signos vitales.</li>
            <li>Eliminacion de datos de Pacientes y signos vitales.</li>
        </ul>
    </section>

    <section>
        <h2>Como funciona:</h2>
        <ol>
            <li>El usuario debe registrarse e iniciar sesion</li>
            <li>El usuario puede registrar nombres y apellidos para tener un registro ya sea propio o de un familiar</li>
            <li>El usuario puede puede registrar tus signos vitales, editarlos y eliminarlos</li>
            <li>Manten organizado por fecha tus signos vitales</li>
        </ol>
    </section>

{% endblock content %}