{% extends "Clinic/base.html" %}

{% block page_header %}
    <div class="jumbotron text-center bg-primary text-white">
        <h1 class="display-4">Atención Médica <i class="fas fa-hospital"></i></h1>
        <p class="lead">Registro de Pacientes y sus Signos Vitales (RAC)</p>
        {% if not user.is_authenticated %}
            <a class="btn btn-lg btn-secondary mr-3" href="{% url 'users:register' %}" role="button">Registrarse &raquo;</a>
            <a class="btn btn-lg btn-success" href="{% url 'users:login' %}" role="button">Iniciar Sesión &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-danger" href="{% url 'users:logout' %}" role="button">Cerrar Sesión &raquo;</a>
            <a class="btn btn-lg btn-success" href="{% url 'Clinic:getPacientes' %}" role="button">Pacientes &raquo;</a>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <section class="mb-5">
        <h2 class="mb-3">Funciones Principales</h2>
        <ul class="list-group">
            <li class="list-group-item">Registro de Pacientes.</li>
            <li class="list-group-item">Almacenamiento de Datos de Pacientes y Signos Vitales.</li>
            <li class="list-group-item">Visualización de Datos de Pacientes y Signos Vitales.</li>
            <li class="list-group-item">Edición de Datos de Pacientes y Signos Vitales.</li>
            <li class="list-group-item">Eliminación de Datos de Pacientes y Signos Vitales.</li>
        </ul>
    </section>

    <section>
        <h2 class="mb-3">Cómo Funciona</h2>
        <ol class="list-group">
            <li class="list-group-item">Regístrate e inicia sesión como usuario.</li>
            <li class="list-group-item">Registra nombres y apellidos para llevar un registro personal o familiar.</li>
            <li class="list-group-item">Administra tus signos vitales: regístralos, edítalos y elimínalos.</li>
            <li class="list-group-item">Mantén tus signos vitales organizados por fechas.</li>
        </ol>
    </section>
{% endblock content %}