{% extends "Clinic/base.html" %}

{% block page_header %}
    <h1>Pacientes</h1>
{% endblock page_header %}

{% block content %}
    <h3><a href="{% url 'Clinic:newPaciente' %}">Agregar Paciente</a></h3>
    <ul>
    {% for paciente in pacientes %}
        <li>
            <h3><a href="{% url 'Clinic:getPaciente' paciente.id %}">{{ paciente }}</a></h3>
            <p>
            </p>
        </li>
    {% empty %}
        <li><h3>No existen topics</h3></li>
    {% endfor %}
    </ul>
{% endblock content %}